---
const personalImageAlt = "Raul Berna";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es <strong>Raúl Berna Riera</strong>. Empecé a programar hace 8 años jugando con <strong>Scratch</strong> y, hoy con 24 años, desarrollo sitios web full‑stack usando <strong>Next.js</strong> y <strong>Strapi</strong>.
    </p>

    <p>
      Actualmente resido en <strong>Irlanda</strong>, donde estoy enfocado en crecer profesionalmente, asumir nuevos retos y ayudar a clientes a materializar sus ideas en la web.
    </p>

    <p>
      Me apasiona el <strong>desarrollo de software</strong> y en mi tiempo libre continúo creando proyectos personales —como el gestor de contraseñas que lancé el año pasado— y probando nuevas tecnologías.
    </p>

    <p>
      Echa un vistazo a mis proyectos abajo o <a href="#contact" class="text-blue-500 font-bold">contáctame</a> para colaborar juntos.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt="Retrato de Raúl Berna Riera en la cima de una montaña con el valle al fondo"
    class="order-1 object-cover w-48 sm:w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>

