---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "September 2022 - June 2024",
    title: "Fullstack Developer",
    company: "Nanonino SL",
    description:
      "I have contributed to the development and enhancement of various tech projects, including e-commerce platforms, smart contracts, and cross-platform applications, focusing on improving usability, efficiency, and system integration.",
  },
  {
    date: "January 2022 - June 2022",
    title: "Fullstack Developer Intership",
    company: "Evvant SL",
    description:
      "In my position at a storage rental company, I developed and maintained a ReactJS and NodeJS-based reservation and management system, implementing an interactive map and various features for handling storage unit transactions across multiple locations, while focusing on system scalability and security",
  },
]
---
<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
