---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
	{
		date: "Septiembre 2022 – Junio 2024",
		title: "Desarrollador Fullstack",
		company: "Nanonino SL",
		description: `
      Desarrollo de aplicaciones web y móviles (PWA) en colaboración con equipos en India y España, garantizando rendimiento, escalabilidad y una excelente experiencia de usuario.
      Implementación y mantenimiento de smart contracts en Solidity para pagos automáticos y gestión eficiente de transacciones blockchain.
      Colaboración en un sistema de reservas potenciado por IA (voz y chat) para campos de golf, con interfaz accesible y tiempos de carga inferiores a 100 ms.
      Stack: Next.js, React, Node.js, Tailwind CSS, Hardhat y MongoDB.
    `,
	},

	{
		date: "Enero 2022 – Junio 2022",
		title: "Prácticas de Desarrollador Fullstack",
		company: "Evvant SL",
		description: `
      Desarrollé y mantuve un sistema de reservas y gestión basado en ReactJS y NodeJS para una empresa de alquiler de trasteros.
      Implementé un mapa interactivo y funciones para gestionar transacciones de unidades de almacenamiento en múltiples ubicaciones.
      Enfoque en escalabilidad y seguridad del sistema.
    `,
	},
];
---
<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
