---
const personalImageAlt = "Raul Berna"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
import CvIcon from "./icons/Cv.astro"

---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me.jpeg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/midudev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available for Work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm Raul Berna Riera
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-blue-300 [&>strong]:text-blue-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    2 years of experience. <strong
      >Software Developer and Content Creator about Programming</strong
    > from Alicante, Spain 🇪🇸. Specialized in developing unique web applications.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:raulbernariera99@gmail.com">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/raul-berna-riera/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/raulbr99">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="/raul-cv.pdf" download="raul-cv">
      <CvIcon class="size-4" />
      Download CV
    </SocialPill>
  </nav>
</div>
