---
// src/components/ParallaxBackground.astro
---

<style>
    .parallax-bg {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -10;
      width: 100%;
      height: 100%;
      background-image: url('/parallax.png'); /* asegúrate de que esté en la carpeta public/ */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    /* Fallback para móviles donde background-attachment: fixed no funciona bien */
    @media (max-width: 768px) {
      .parallax-bg {
        background-attachment: scroll;
      }
    }
  </style>
  
  <div class="parallax-bg"></div>
  