---
---

<section>
    <h2>Fullstack Skills</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>SQL</li>
        <li>NoSQL</li>
        <li>RESTful APIs</li>
        <li>GraphQL</li>
    </ul>
</section>